# Node.js modules
node_modules/

# Build natijalari
dist/
.output/
.output.zip
.nuxt/

# Kesh va vaqtinchalik fayllar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
.vite/
*.local

# OS va IDE fayllari
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Env fayllar (maxfiy ma’lumotlar)
.env
.env.*.local

# Test natijalari
coverage/

# Lock fayllar (agar bir nechta package manager ishlatilsa, faqat bittasini qoldiring)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml